@model UCR_ManagementSystem.App.Models.CourseSaveViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title" style="color: #00ffff; font-weight:bold">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="~/Dashboard/Dashboard">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Department Information</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="~/Department/SaveDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Departments</a> </li>
                                        <li><a href="~/Department/ShowDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>View All Departments</a> </li>
                                    </ul>
                                </li>

                                <li class="nav-parent nav-expanded nav-active">
                                    <a>
                                        <i class="fa fa-tasks" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Course & Teacher Info</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li class ="nav-active"><a href="~/CourseTeacher/SaveCourse" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Course </a></li>
                                        <li><a href="~/CourseTeacher/saveTeacher" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Teacher</a> </li>
                                        <li><a href="~/CourseTeacher/AssignTeacher" style="font-weight:bold"><i class="fa fa-angle-right"></i>Course Assign to Teacher </a>
                                        <li><a href="~/CourseTeacher/viewCourseStatics" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Course Statics</a> </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Class Room & Schedule</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="allocateClassrooms.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Allocate Classrooms</a></li>
                                        <li><a href="viewClassScheduleRoomAllocationInformation.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Class Schedule & Room Allocation Information</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Reg-Student & Course-Enroll</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="~/Student/RegStudent" style="font-weight:bold"><i class="fa fa-angle-right"></i>Register Student</a></li>
                                        <li><a href="~/Student/StudentEnrollInaCourse" style="font-weight:bold"><i class="fa fa-angle-right"></i>Enroll In a Course</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Student Result</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="saveStudentResult.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Student Result </a></li>
                                        <li><a href="viewResult.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Result</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Unassign & Unallocate</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="unassignAllCourses.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unassign All Courses </a></li>
                                        <li><a href="unallocateAllClassRooms.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unallocate All class Rooms</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                        <hr class="separator" />
                    </div>
                </div>

            </aside>
            <!-- end: sidebar -->

            <!-- start: Content-body -->
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>Save Course</h2>

                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="~/Dashboard/Dashboard">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Course & Teacher Info / Save Course</span></li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>
                <!-- start: page ---------------------------------------//////////////------------------------>
                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" id="form" class="form-horizontal">
                            <section class="panel-dark">
                                <header class="panel-heading" style="background-color: #34495E">
                                    <h2 class="panel-title">Save&ensp;Course&ensp;Information</h2> <!--save departments information-->
                                    <p class="panel-subtitle">
                                        Enter Course Information.
                                    </p>
                                </header>
                                <div class="panel-body">
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Course Code <span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.CourseCode, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })


                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-keyboard-o"></i>
                                                </span>
                                                @* <input type="number" name="CourseCode" class="form-control" placeholder="eg.: 334646534" required />*@
                                                @Html.TextBoxFor(c => c.CourseCode, null, new { @class = "form-control", placeholder = "eg.: 2234501" })
                                                @Html.ValidationMessageFor(c => c.CourseCode, null, new { @class = "text-danger" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Course Name<span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.CourseName, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                @*<input type="text" name="CourseName" class="form-control" placeholder="eg.: CSS" required />*@
                                                @Html.TextBoxFor(c => c.CourseName, null, new { @class = "form-control", placeholder = "eg.: CSE" })
                                                @Html.ValidationMessageFor(c => c.CourseName, null, new { @class = "text-danger" })


                                             </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Credit<span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.CourseCredit, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })


                                         <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                @*<input type="number" name="CourseCredit" class="form-control" placeholder="eg.: CSS" required />*@
                                                @Html.TextBoxFor(c => c.CourseCredit, null, new { @class = "form-control", placeholder = "eg.: 03" })
                                                @Html.ValidationMessageFor(c => c.CourseCredit, null, new { @class = "text-danger" })


                                             </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Description<span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.CourseDescription, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })


                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                @*<textarea name="CourseDescription" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="eg.: CSS" required></textarea>*@
                                                @Html.TextAreaFor(c => c.CourseDescription,new { @class = "form-control", placeholder = "eg.: Description" })
                                                @Html.ValidationMessageFor(c => c.CourseDescription, null, new { @class = "text-danger" })


                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Description<span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })




                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                @*<textarea name="CourseDescription" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="eg.: CSS" required></textarea>*@
                                                @Html.DropDownListFor(c => c.DepartmentId, Model.DepartmentSelectListItems, "Select...", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(c => c.DepartmentId, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @*<label class="col-sm-2 control-label" style="font-weight:bold">Description<span class="required">*</span></label>*@
                                        @Html.LabelFor(c => c.Semester, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })


                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-edit"></i>
                                                </span>
                                                @*<input type="number" name="Semester" class="form-control" placeholder="eg.: CSS" required />*@
                                                @*@Html.DropDownListFor(c => c.Semester, Model.DepartmentSelectListItems, "Select...", new { @class = "form-control" })*@
                                                @Html.DropDownList("Semester", new List<SelectListItem>()
                                                {
                                                new SelectListItem {Text = "Semester 1", Value="Semester 1"},
                                                new SelectListItem {Text = "Semester 2", Value="Semester 2"},
                                                new SelectListItem {Text = "Semester 3", Value="Semester 3"},
                                                new SelectListItem {Text = "Semester 4", Value="Semester 4"},
                                                new SelectListItem {Text = "Semester 5", Value="Semester 5"},
                                                new SelectListItem {Text = "Semester 6", Value="Semester 6"},
                                                new SelectListItem {Text = "Semester 7", Value="Semester 7"},
                                                new SelectListItem {Text = "Semester 8", Value="Semester 8"}
                                                }, "Select...", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(c => c.Semester, null, new { @class = "text-danger" })

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <footer class="panel-footer" style="background-color: #dfebf7">
                                    <div class="row">
                                        <div class="col-sm-3" style="text-align:right">
                                            <input type="submit" class="btn btn-primary" value="Save " />
                                        </div>
                                        <div class="col-sm-6">
                                            @if (ViewBag.SMessage != null)
                                            {
                                                <h5 style="color: green; font-weight: bold">@ViewBag.SMessage</h5>
                                            }
                                            @if (ViewBag.EMessage != null)
                                            {
                                                <h5 style="color: red; font-weight: bold">@ViewBag.EMessage</h5>
                                            }
                                        </div>
                                    </div>
                                </footer>
                               <footer class="panel-footer" style="background-color: #34495E"></footer>
                            </section>
                        </form>
                    </div>
                </div>
                <!-- end: page -//////////////////////////////////////////////////////------------------------>
            </section>
            <!-- end: Content-body -->
@section Scripts{

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
       