@model UCR_ManagementSystem.App.Models.ClassroomScheduleViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<aside id="sidebar-left" class="sidebar-left">

    <div class="sidebar-header">
        <div class="sidebar-title" style="color: #00ffff; font-weight:bold">
            Navigation
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>

    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="nav-active">
                        <a href="~/Dashboard/Dashboard">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Department Information</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="~/Department/SaveDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Departments</a> </li>
                            <li><a href="~/Department/ShowDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>View All Departments</a> </li>
                        </ul>
                    </li>

                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Course & Teacher Info</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="~/CourseTeacher/SaveCourse" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Course </a></li>
                            <li><a href="~/CourseTeacher/saveTeacher" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Teacher</a> </li>
                            <li><a href="~/CourseTeacher/AssignTeacher" style="font-weight:bold"><i class="fa fa-angle-right"></i>Course Assign to Teacher </a>
                            <li><a href="~/CourseTeacher/viewCourseStatics" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Course Statics</a> </li>
                        </ul>
                    </li>

                    <li class="nav-parent nav-expanded nav-active">
                        <a>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Class Room & Schedule</span>
                        </a>
                        <ul class="nav nav-children">
                            <li class="nav-active"><a href="~/ClassRoomSchedule/allocateClassrooms" style="font-weight:bold"><i class="fa fa-angle-right"></i>Allocate Classrooms</a></li>
                            <li><a href="~/ClassRoomSchedule/viewCourseSchedule" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Class Schedule & Room Allocation Information</a> </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-columns" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Reg-Student & Course-Enroll</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="~/Student/RegStudent" style="font-weight:bold"><i class="fa fa-angle-right"></i>Register Student</a></li>
                            <li><a href="~/Student/StudentEnrollInaCourse" style="font-weight:bold"><i class="fa fa-angle-right"></i>Enroll In a Course</a> </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Student Result</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="~/Student/SaveStudentResult" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Student Result </a></li>
                            <li><a href="~/Student/StudentResultView" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Result</a> </li>
                        </ul>
                    </li>
                    <li class="nav-parent">
                        <a>
                            <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                            <span style="font-weight:bold;">Unassign & Unallocate</span>
                        </a>
                        <ul class="nav nav-children">
                            <li><a href="~/UnassignUnallocate/UnassignCourses" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unassign All Courses</a></li>
                            <li><a href="~/UnassignUnallocate/UnallocateClassroom" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unallocate All Class Rooms</a> </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <hr class="separator" />
        </div>
    </div>

</aside>
<!-- end: sidebar -->



<section role="main" class="content-body" style="background-color: #e6fff2">
    <header class="page-header">
        <h2>Allocate Classrooms</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="~/Dashboard/Dashboard">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Class Room & Schedule / Allocate Classrooms</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
    <!-- start: page ---------------------------------------//////////////------------------------>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <form method="POST" id="form" class="form-horizontal">
                <section class="panel-dark">
                    <header class="panel-heading" style="background-color: #34495E">
                        <h2 class="panel-title">Allocate&ensp;Classrooms</h2> <!--save departments information-->
                        <p class="panel-subtitle">
                            Enter Information.
                        </p>
                    </header>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(c => c.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    @Html.DropDownListFor(c => c.DepartmentId, Model.DepartmentSelectListItems, "Select...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.DepartmentId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(c => c.CourseId, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    @Html.DropDownListFor(c => c.CourseId, Model.CoursetSelectListItems, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.CourseId, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.RoomNo, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    @Html.DropDownList("RoomNo", new List<SelectListItem>()
                                                {
                                                new SelectListItem {Text = "Room No: A-201", Value="RoomNo : A-201"},
                                                new SelectListItem {Text = "Room No: A-202", Value="Room No : A-202"},
                                                new SelectListItem {Text = "Room No: A-203", Value="Room No : A-203"},
                                                new SelectListItem {Text = "Room No: B-301", Value="Room No : B-301"},
                                                new SelectListItem {Text = "Room No: B-302", Value="Room No : B-302"},
                                                new SelectListItem {Text = "Room No: B-303", Value="Room No : B-303"},
                                                new SelectListItem {Text = "Room No: C-401", Value="Room No : C-401"},
                                                }, "Select...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.RoomNo, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.Day, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    @Html.DropDownList("Day", new List<SelectListItem>()
                                                {
                                                new SelectListItem {Text = "Sunday", Value="Sun"},
                                                new SelectListItem {Text = "Monday", Value="Mon"},
                                                new SelectListItem {Text = "Tuesday", Value="Tue"},
                                                new SelectListItem {Text = "Wednesday", Value="Wed"},
                                                new SelectListItem {Text = "Thursday", Value="Thu"},
                                                new SelectListItem {Text = "Friday", Value="Fri  "},
                                                new SelectListItem {Text = "Saturday", Value="Sat "},
                                                }, "Select...", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(c => c.Day, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(c => c.FromTime, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>
                                    @*@Html.TextBoxFor(c => c.FromTime, new { @class = "form-control", @readonly = "readonly", placeholder = "---View---" })*@
                                    @Html.EditorFor(m => m.FromTime)
                                    @Html.ValidationMessageFor(c => c.FromTime, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(c => c.ToTime, htmlAttributes: new { @class = "control-label col-md-2", style = "font-weight:bold" })
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-edit"></i>
                                    </span>

                                    @Html.EditorFor(m => m.ToTime)
                                    @Html.ValidationMessageFor(c => c.ToTime, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer class="panel-footer" style="background-color: #dfebf7">
                        <div class="row">
                            <div class="col-sm-4" style="text-align:right">
                                <input type="submit" class="btn btn-primary" value="Allocate" id="SubmitButton" />
                            </div>
                            <div class="col-sm-8">
                                @if (ViewBag.SACMessage != null)
                                {
                                    <h5 style="color: green; font-weight: bold">@ViewBag.SACMessage</h5>
                                }
                                @if (ViewBag.FACMessage != null)
                                {
                                    <h5 style="color: red; font-weight: bold">@ViewBag.FACMessage</h5>
                                }
                            </div>
                        </div>
                    </footer>
                    <footer class="panel-footer" style="background-color: #34495E"></footer>
                </section>
            </form>
        </div>
    </div>

    <!-- end: page -//////////////////////////////////////////////////////------------------------>>
</section>

@section Scripts{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/CourseTeacher/ClassRoomSchedul.js"></script>

}